.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

@media screen and (min-width: 744px) {
    .listItem {
        width: 500px;
    }
}

.contactItemBlock {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.callLink:hover,
.callLink:focus {
    color: #ADCFFF;
}